<div id="divTablaProductosAmbiente-1">
	<div class="row">
		<div class="col ml-1 mr-1 mb-2">
			<div class="table-responsive-sm">
				<table id="table-productos" class="table table-bordered table-hover table-sm mb-1">
					<thead>
						<tr>
							<th colspan="4" class="text-center">Grilla Productos</th>
							<th colspan="3" class="text-center">Medidas Trabajo</th>
							<th colspan="4" class="text-center">Medidas Placas</th>
							<th colspan="4" class="text-center">Cantidad Placas</th>
							<th></th>
						</tr>
						<tr>
							<th scope="col" class="head2">Tipo Prod.</th>
							<th scope="col" class="head2">Id</th>
							<th scope="col" class="head2">Descripción</th>
							<th scope="col" class="head2">Concepto</th>
							<th scope="col" class="head2 cell-right">Ancho</th>
							<th scope="col" class="head2 cell-right">Alto</th>
							<th scope="col" class="head2 cell-right">Mts/2</th>
							<th scope="col" class="head2 cell-right">Ancho</th>
							<th scope="col" class="head2 cell-right">Alto</th>
							<th scope="col" class="head2 cell-right">Mts/2</th>
							<th scope="col" class="head2 cell-right">Precio</th>
							<th scope="col" class="head2 cell-right">En Ancho</th>
							<th scope="col" class="head2 cell-right">En Alto</th>
							<th scope="col" class="head2 cell-right">Total</th>
							<th scope="col" class="head2 cell-right">$ Total</th>
							<th scope="col" class="head2 cell-right">Estado Item</th>
						</tr>
					</thead>
					<tbody id="idBodyTablaProds-1">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>