<div class="marco-tabs">
	<div class="row">
		{# FECHA PRESUPUESTO #}
		<div class="col-sm-2 mt-4 col-label">
			<label class="lblPresup" for="fechaPresupuesto">Fecha Presupuesto</label>
		</div>
		<div class="col-sm-3 mt-4">
		    <input type="date" class="form-control form-control-sm" id="fechaPresupuesto" name="fechaPresupuesto">
		</div>
		{# FECHA VISITA #}
		<div class="col-sm-2 offset-sm-1 mt-4 col-label">
			<label class="lblPresup" for="fechaVencPresup">Fecha Vencimiento</label>
		</div>
		<div class="col-sm-3 mt-4">
		    <input type="date" class="form-control form-control-sm" id="fechaVencPresup" name="fechaVencPresup">
		</div>
	</div>

	<div class="row">
		{# REALIZADO POR #}
		<div class="col-sm-2 mt-2 col-label">
			<label class="lblPresup" for="emplRealizaPresup">Realizado por</label> 
		</div>
		<div class="col-sm-4 mt-2">
			<select class="form-control form-control-sm" id="emplRealizaPresup" name="emplRealizaPresup">
				<option value="0">Seleccione empleado...</option>
				{% for empl in empleados %}
					<option value="{{ empl.id }}">{{ empl.apellidoNombre }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="row">
		{# DETALLE PRESUPUESTO #}
		<div class="col m-4">
			<div class="accordion" id="accordionAmbientes">
				<div class="card" id="idCardAmb-0">		{# Cada Card es un ambiente #}
					<div class="card-header" id="cardHeader-0">
						<h2 class="mb-0">
							<button type="button" class="btn btn-link btn-sm font-weight-bold" data-toggle="collapse" data-target="#collapseAmb-0" aria-expanded="true" aria-controls="collapseAmb-0">Ambiente 1</button>
						</h2>
					</div>
					<div id="collapseAmb-0" class="collapse show" aria-labelledby="cardHeader-0" data-parent="#accordionAmbientes">
		      			<div class="card-body">
		      				<div class="row">
								<div class="col ml-1 mr-1 mb-2">
		      						<textarea id="conceptoAmbiente-0" class="form-control form-control-sm font-weight-bold concepto" placeholder="Conceptos del ambiente 1" rows="1"></textarea>
								</div>
							</div>

							<div id="divTablaProductosAmbiente-0">
								<div class="row">
									<div class="col ml-1 mr-1 mb-2">
										<div class="table-responsive-sm">
											<table id="table-productos" class="table table-bordered table-hover table-sm mb-1">
												<thead>
													<tr>
														<th colspan="4" class="text-center">Grilla Productos</th>
														<th colspan="3" class="text-center">Medidas Trabajo</th>
														<th colspan="3" class="text-center">Medidas Placas</th>
														<th colspan="3" class="text-center">Cantidad Placas</th>
														<th></th>
													</tr>
													<tr>
														<th scope="col" class="head2">Tipo Prod.</th>
														<th scope="col" class="head2">Código</th>
														<th scope="col" class="head2">Descripción</th>
														<th scope="col" class="head2">Concepto</th>
														<th scope="col" class="head2 cell-right">Ancho</th>
														<th scope="col" class="head2 cell-right">Alto</th>
														<th scope="col" class="head2 cell-right">Mts2/Mts</th>
														<th scope="col" class="head2 cell-right">Ancho</th>
														<th scope="col" class="head2 cell-right">Alto</th>
														<th scope="col" class="head2 cell-right">Mts2/Mts</th>
														<th scope="col" class="head2 cell-right">Cant. Ancho</th>
														<th scope="col" class="head2 cell-right">Cant. Alto</th>
														<th scope="col" class="head2 cell-right">Cant. Placas</th>
														<th scope="col" class="head2">Estado Item</th>
													</tr>
												</thead>
												<tbody id="idBodyTablaProds-0">

												</tbody>
											</table>
										</div>
									</div>
								</div>
		      				</div>
		      				<button id="btnAgregarProdsAmbiente" onclick="PRESUP.onClickBtnAgregarProd(0);" type="button" class="btn btn-sm btn-primary ml-1">Agregar producto</button>
		      				{# NO HAY CARD-FOOTER - (No se puede borrar el ambiente 0) #}
						</div>	{# /card-body #}
					</div>
				</div>		{# /card #}       {# Aqui, abajo, se agregan los otros Ambientes #}
			</div>		{# /acordionAmbientes #}
		</div>
	</div>

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<button id="btnAgregarAmbiente" type="button" class="btn btn-sm btn-warning">Agregar Ambiente</button>
		</div>
	</div>

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<hr />
		</div>
	</div>

	<div class="row">
		{# TOTAL REVESTIMIENTO #}
		<div class="col-sm-3 mt-1 col-label">
			<label class="lblPresup" for="totalMts2Revest">Total Mts2. Revestimiento</label>
		</div>
		<div class="col-sm-2 mt-1">
		    <input type="text" class="form-control form-control-sm cell-right" id="totalMts2Revest" name="totalMts2Revest">
		</div>
	</div>

	<div class="row">
		{# TOTAL CIELORRASO #}
		<div class="col-sm-3 mt-1 col-label">
			<label class="lblPresup" for="totalMts2Cielorraso">Total Mts2. Cielorraso</label>
		</div>
		<div class="col-sm-2 mt-1">
		    <input type="text" class="form-control form-control-sm cell-right" id="totalMts2Cielorraso" name="totalMts2Cielorraso">
		</div>
		{# IMPORTE #}
		<div class="col-sm-1 offset-sm-2 mt-2">
			<label class="lblPresup" for="importe">Importe</label>
		</div>							
		<div class="col-sm-3 mt-2">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend input-group-sm">
					<span class="input-group-text">$</span>
				</div>
				<input id="importe" name="importe" class="form-control form-control-sm cell-right" type="text">
			</div>
		</div>
	</div>

	<div class="row">
		{# TOTAL MOLDURAS #}
		<div class="col-sm-3 col-label">
			<label class="lblPresup" for="totalMtsMolduras">Total Mts. Molduras</label>
		</div>
		<div class="col-sm-2">
		    <input type="text" class="form-control form-control-sm cell-right" id="totalMtsMolduras" name="totalMtsMolduras">
		</div>
	</div>

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<hr />
		</div>
	</div>

	<div class="row">
		{# FORMA DE PAGO #}
		<div class="col-sm-10 offset-sm-1 d-flex flex-column">
			<label class="lblPresup" for="formaDePago">Forma de Pago</label> 
			<textarea class="form-control" id="formaDePago" name="formaDePago" rows="2"></textarea>
		</div>
	</div>

{# AGREGAR VALOR POR METRO CUADRADO #}

	<div class="row">
		{# ENTREGA/SEÑA #}
		<div class="col-sm-1 offset-sm-7 mt-4 col-label">
			<label class="lblPresup text-right" for="entrega">Entrega/Seña</label>
		</div>							
		<div class="col-sm-3 mt-4">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend input-group-sm">
					<span class="input-group-text">$</span>
				</div>
				<input id="entrega" name="entrega" class="form-control form-control-sm cell-right" type="text">
			</div>
		</div>
	</div>

	<br />

</div>
