<div class="marco-tabs">

	<div class="row">
		<div class="col-sm-8 offset-sm-1 mt-4">
			<form id="form_foto">
				{# Para CSRF control #}
				{{ csrf.field | raw }}

				<div class="custom-file" lang="es">
					<input type="file" class="form-control form-control-sm custom-file-input" id="inputFoto" name="inputFoto" lang="es" />
					<label class="custom-file-label lblPresup" for="inputFoto">Seleccionar Archivo</label>
				</div>
				<button id="btnAgregarFoto" type="button" class="btn btn-sm btn-success mt-1" disabled>Agregar Foto</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<hr class="mt-2" />
		</div>
	</div>

	<div class="row pl-4 pr-4" id="fotosContainer"></div>	

	<div class="row">
		<div class="col ml-4 mr-4 mt-0">
			<hr />
		</div>
	</div>

	<div class="d-flex justify-content-center mb-3">
		<button id="btnGuardarFotos" 
				onclick="PRESUP.onClickBtnGuardarFotos();"
				type="button" 
				class="btn btn-sm btn-success">
			Guardar Fotos
		</button>
	</div>

</div>
