<div class="marco-tabs">

	<div class="row">
		{# FECHA TENTATIVA TRABAJO #}
		<div class="col-sm-2 mt-4 col-label">
			<label class="lblPresup" for="fechaTentaTrabajo">Fecha Tentativa O.T.</label>
		</div>
		<div class="col-sm-3 mt-4">
		    <input type="date" class="form-control form-control-sm" id="fechaTentaTrabajo" name="fechaTentaTrabajo">
		</div>
		{# FECHA EJECUCION #}
		<div class="col-sm-2 offset-sm-1 mt-4 col-label">
			<label class="lblPresup" for="fechEjecucionOT">Fecha Ejecución</label>
		</div>
		<div class="col-sm-3 mt-4">
		    <input type="date" class="form-control form-control-sm" id="fechaEjecucionOT name="fechaEjecucionOT>
		</div>
	</div>

	<div class="row">
		{# DETALLE ORDEN DE TRABAJO #}
		<div class="col-sm-2 mt-2 col-label">
			<label class="lblPresup" for="detalleOrdenTrabajo">Detalle Orden Trabajo</label> 
		</div>
		<div class="col-sm-9 mt-2">
			<textarea class="form-control" id="detalleOrdenTrabajo" name="detalleOrdenTrabajo" rows="4"></textarea>
		</div>
	</div>

	<div class="row">
		{# REALIZADO POR #}
		<div class="col-sm-2 mt-2 col-label">
			<label class="lblPresup" for="emplRealizaOrdTrab">Realizado por</label> 
		</div>
		<div class="col-sm-4 mt-2">
			<select class="form-control form-control-sm" id="emplRealizaOrdTrab" name="emplRealizaOrdTrab">
				<option value="0">Seleccione empleado...</option>
				{% for empl in empleados %}
					<option value="{{ empl.id }}">{{ empl.apellidoNombre }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<br />

</div>